<nav class="navbar" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="#">Logo or sth</a>
    </div>
    <ul class="nav navbar-nav" ng-show="userLoggedIn">
        <li><a ui-sref="start">Start a new trip</a></li>
        <li><a ui-sref="about">About</a></li>
        <li><a ui-sref="profile">Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-show="!userLoggedIn" ui-sref="login">Log In</a></li>
      <li><a ng-show="!userLoggedIn" ui-sref="register">Register</a></li>
      <li><a ng-show="userLoggedIn" ui-sref="logout">Log Out</a></li>
    </ul>
</nav>
