<div id='main' class="container centeredDiv">
  <form class="form-auth form-group" ng-submit="register()">
    <p class="text-warning">{{error_message}}</p>
    <input type="username" ng-model="user.username" placeholder="Username" class="loginInput"><br>
    <input type="password" ng-model="user.password" placeholder="Password" class="loginInput"><br>
    <input type="email" ng-model="user.email" placeholder="Email" class="loginInput"><br>
    <input type="name" ng-model="user.name" placeholder="Name" class="loginInput"><br>
    <input type="surname" ng-model="user.surname" placeholder="Surname" class="loginInput"><br>
    <input type="date" ng-model="user.date" placeholder="Date of birth" class="loginInput"><br>
    <input type="submit" value="Register" class="btn btnGet" />
  </form>
</div>
