<!-- <div class="header-menu">

  <nav class="header-nav menu-nav navbar-fixed-top">
      <ul class="nav navbar-nav">
          <li>
              <a href="home/#filters" du-smooth-scroll du-scrollspy offset="200">
                  <span title="events">About</span>
              </a>
          </li>
          <li>
              <a href="home/#tabledata" du-smooth-scroll du-scrollspy offset="70">
                  <span title="rooms">Rooms</span>
              </a>
          </li>
      </ul>
  </nav>
</div>

<div ui-view="filters"></div>
<div ui-view="tabledata"></div> -->
